{% extends "base.html" %}

{% block content %}
    <h2>Register</h2>
    <form method="POST">
        <label>Email:</label>
        <input type="email" name="email" required class="form-control">
        
        <label>Password:</label>
        <input type="password" name="password" required class="form-control">
        
        <button type="submit" class="btn btn-success mt-2">Register</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
{% endblock %}
          
