<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload Notes</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <main>
    <h1>Share Your Notes</h1>
    <form action="/api/upload-file" method="post" enctype="multipart/form-data">
      <input type="file" name="file" required>
      <br><br>
      <button type="submit">Upload</button>
    </form>
  </main>

  <footer>
    <p>All rights reserved © SA Studio</p>
  </footer>
</body>
</html>
